.containerButt{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 840px;
    margin: 0 auto;
}

.buttons{
    width: 100px;
    height: 40px;
    margin: 20px 10px;
    color: black;
    background-color: rgb(228, 228, 228);
    border: none;
    border-radius: 5px;
    font-size: 14pt;
    font-weight: 500;
    cursor: pointer;
    &:hover{
        background-color: rgb(210, 210, 210);
    }
}